<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionfiap.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3581737f-19e3-44ea-a428-856e4753cd9b/resourceGroups/Fiap/providers/Microsoft.Web/sites/functionFiap</ResourceId>
    <UserName>$functionFiap</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionfiap.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>