<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projeto2function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3581737f-19e3-44ea-a428-856e4753cd9b/resourceGroups/Fiap/providers/Microsoft.Web/sites/Projeto2Function</ResourceId>
    <UserName>$Projeto2Function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://projeto2function.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhLEkEx3niEey5FIqHVM+4wAAAAACAAAAAAADZgAAwAAAABAAAAB7jLNDm7KeG0nyh30je0d8AAAAAASAAACgAAAAEAAAAHxK1Vct/P8pXpajE6QxEnaAAAAAhyB5B8g94cl/0vzCdeDpyLHTAvGFY1BmbeMYz4QWrRcqbDqoDdJoE4An33N+pXnvYQxsG9im2/T/Qj8AJ4HqJfnWN9/H8biMQlr+YP/aVkahdQIiCSMe+xidNSghZDFSEev/cCoEIidPjbiXxrxu6EkAZ3NZOD5gXA0vlBNDJ+EUAAAAIjYDA9Lf+7kB/7hPofyyPnoGXgo=</EncryptedPassword>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>